* {
    box-sizing: border-box;
}

#map {
  height: 50%;
  width: 40%;
  border: 3px solid black;
  float: left;

  }

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  }

.hidden {
  display: none;
}

.suggestionBox, .bookstoreResults, .coffeeStoreResults {
  border: 3px solid black;
}

.bookLink {
  font-weight: bold;
}

.bookstoreResults {
  float: left;
  width: 30%;
  height: 50%;
}

.coffeeStoreResults {
  float: left;
  width: 30%;
  height: 50%;
}