* {
    box-sizing: border-box;
}

body {
  background-image: url("https://i.imgur.com/EMOsRPf.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #6cc8d4;
}

.submit:hover, .submit:focus, .bookSuggest:focus {
  background-color: #6cc8d4;
}

.bookSuggest:hover, .bookSuggest:focus, .resetButton:hover, .resetButton:focus {
  background-color: #FCFCFC;
  color: #302220;
  text-shadow:
    0px 0px 0 #000,  
    0px 0px 0 #000,
    0px 0px 0 #000,
    0px 0px 0 #000; 
}

label {
  font-family: 'Fjalla One', sans-serif;
  display: block;
  position: relative;
  font-size: 19px;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2px;
}

.selectionMenu {
  max-width: 400px;
  margin-top: 5em;
  border: black solid 4px;
}

.sectionTitle {
  border: #302220 solid 4px;
}

.coffeeShops, .bookstores, .boxTwo {
  padding-left: 10px;
  font-size: 19px;
}